<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192165235059-0d87iffic7grvucl0u3279kjfv9sv9n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192165235059-0d87iffic7grvucl0u3279kjfv9sv9n1</string>
	<key>API_KEY</key>
	<string>AIzaSyB7zLHhiBUK9sAHGz3VIdYQo5X4Zpnw0hw</string>
	<key>GCM_SENDER_ID</key>
	<string>192165235059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterdemo</string>
	<key>PROJECT_ID</key>
	<string>book-list-1f4da</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-1f4da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192165235059:ios:76f2da30358d3726469d06</string>
</dict>
</plist>